
.doctor-appointment_container{
    @extend .input;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    padding: 10px;
    .doctor-appointment_info{
        width: 50%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .doctor-appointment_status{
        width: 50%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
    p{
        margin: 2px 0;
        font-size: 16px;
        color: $grayletters_color;
    }
    .icon{
        font-size: 2em;
        color: $highlight_color;
    }
}

@media (min-width: $media-tablet){
    .doctor-appointment_container{
        max-width: 600px;
    }
}