.header__image {
  padding: 40px 10px;
  width: 200px;
}

.header__link {
  color: $highlight_color;
  text-align: center;
  margin: 25px 0
}

@media (min-width: $media-tablet) {
  .header__image {
    width: 220px;
  }
}