@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
$highlight_color: #7A8DFF;
$grayletters_color: #414146;
$grayborderinput_color: #E8E8E8;
$grayplaceholderletters_color: #BDBDBD;
$whiteletters_color: #ffffff;
$grayinput_color: #f6f6f6;

$font_family: 'Inter', sans-serif;

$media-mobile: 320px;
$media-tablet: 768px;
$media-notebook: 1024px;
$media-desktop: 1600px;

.swal-button {
  padding: 7px 19px;
  border-radius: 18px;
  background-color: $highlight_color;
  font-size: 12px;
  border: 1px solid $highlight_color;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.horizontalCentering {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.centerColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  background-color: $highlight_color;
  border: none;
  border-radius: 100px;
  color: white;
  font-weight: bold;
  padding: 16px 32px;
  text-align: center;
  margin:  10px 0;
  max-width: 345px;
  width: 100%;
}

.buttonHome {
  background-color: $highlight_color;
  border: none;
  border-radius: 100px;
  color: white;
  font-weight: bold;
  padding: 16px 32px;
  max-width: 201px;
  width: 100%;
}
.form__group,
.input {
  background-color: $grayinput_color;
  border: 1px solid $grayborderinput_color;
  border-radius: 8px;
  padding: 16px 32px;
  outline: none;
  max-width: 345px;
  margin:  10px 0;
  width: 100%;
}

.form__group {
  @extend .horizontalCentering;
  padding-right: 16px;
}

.input__pass {
  background: transparent;
  border: none;
  outline: none;
}

.profile {
  display: block;
  text-align: center;
}

.profile__img {
  border-radius: 50%;
}

.medicalAppointment {
  background-color: $grayinput_color;
  border: 1px solid $grayborderinput_color;
  border-radius: 8px;
  padding: 8px 18px;
  max-width: 345px;
  width: 100%;
}

.image__responsive {
  max-width: 100%
}

.link {
  background: transparent;
  border: none;
  color: $highlight_color;
  display: block;
  margin: 10px 0;
  text-align: center;
}

.title {
  color: $grayletters_color;
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
}

.message {
  color: $highlight_color;
  font-size: 35px;
  margin: 10px 0;
}

.subtitle {
  font-weight: normal;
  margin: 20px 0;
}



.hide {
  display: none;
}

@media (min-width: $media-tablet) {
  .button,
  .input {
    width: 400px;
  }
}

@media (min-width: $media-notebook) {
  .title {
    font-size: 40px;
  }
}
